* {
  font-size: 1vw;
}

.container-fluid {
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.bg-image1 {
  position: relative;
  background-position: center;
  background-size: cover;
}

.h1,
.h6 {
  word-wrap: break-word;
}

.text1 {
  position: absolute;
  color: white;
  text-align: center;
  justify-content: center;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
}

.d-logo {
  position: absolute;
  align-items: center;
  top: 35%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.mouse-logo {
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 90%;
  left: 50%;
  right: 50%;
  bottom: 20%;
}

.about-title {
  margin-top: 3%;
  font-weight: bold;
}

.text2 {
  /* font-size: 1.2rem; */
  line-height: 4rem;
}

img .bg-computer {
  position: relative;
}

.services {
  position: absolute;
  /* font-size: 1.3rem; */
  line-height: 4rem;
  margin: 6%;
  align-items: center;
  justify-content: center;
  left: 10%;
  color: white;
}

.text4 {
  text-align: center;
  margin: 4%;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 130%;
}

.text5 {
  text-align: center;
  justify-content: center;
  margin: 5%;
}

img .contact-bg {
  position: relative;
  background-position: center;
  background-size: cover;
}

.fm {
  position: absolute;
  width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  color: white;
  margin: 5%;
}

.contact-fm {
  margin: 4%;
}

.contact-title {
  position: absolute;
  color: white;
  text-align: center;
  justify-content: center;
  margin-left: 40%;
  padding: 2%;
}

.form-control {
  background: transparent;
}

.socialmedia-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3px;
  width: 50%;
  margin-left: 25%;
}

.copyright-notice {
  text-align: center;
  justify-content: center;
  margin: 2%;
}

.all-portfolio {
  margin-left: 6%;
  width: 70%;
  justify-content: space-evenly;
}

.what-we-do {
  margin: 4%;
  width: 90%;
  justify-content: space-between;
  display: flex;
  margin-left: 15%;
}

