.container-fluid {
    margin: 0px;
    padding: 0px;
    justify-content: center;
}

.bg-image1 {
    position: relative;
}

.h1, .h6 {
    word-wrap: break-word;
}

.text1 {
    position: absolute;
    color: white;
    text-align: center;
    justify-content: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.d-logo {
    position: absolute;
    align-items: center;
    top: 40%;
    left: 50%;
    bottom: 50%;
}

.mouse-logo {
    position: absolute;
    align-items: center;
    
}
 